  .profile__images-add {
    background: url(../../../Images/Add_Button.svg) no-repeat top center;
    background-size: cover;
    padding: 0;
    width: 16px;
    height: 16px;
  }


@media screen and (min-width: 768px) {
  .profile__images-add {
    width: 22px;
    height: 22px;
  }
}