.popup__form {
  list-style: none;
  padding: 0 0 24px;
  margin: 0;
  display: grid;
  grid-template-columns: 238px;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;
}

@media screen and (min-width: 768px) {
  .popup__form {
    padding: 0 0 36px;
    grid-template-columns: 358px;
  }
}