.place__button-like{
  margin-top: 30px;
  padding: 0;
  width: 22px;
  height: 19px;
  outline: none;
  border: none;
  background: none;
  background-color: none;
  transition: linear 1s;
  cursor: pointer;
}

.place__button-like:hover{
  opacity: 0.5;
}